[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/postgres:15.3
ContainerName=matefacil-postgres
Volume=matefacil-postgres.volume:/var/lib/postgresql
Network=matefacil.network
Environment=POSTGRES_USER=miguel
Environment=POSTGRES_PASSWORD=a2b2c3
Environment=POSTGRES_DB=postgres1

